.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    padding: 24px 156px;
    margin: 0;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}